{% extends 'core/base.html'%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<p class="text-lg font-semibold text-gray-500 truncate dark:text-gray-900">
    Statistics
 </p>
 <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4 items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-blue-100 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 flex items-center justify-center mb-1">
         <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
         </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ product_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 Product
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-pink-100 bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ category_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 Category
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-cyan-100 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m13.835 7.578-.005.007-7.137 7.137 2.139 2.138 7.143-7.142-2.14-2.14Zm-10.696 3.59 2.139 2.14 7.138-7.137.007-.005-2.141-2.141-7.143 7.143Zm1.433 4.261L2 12.852.051 18.684a1 1 0 0 0 1.265 1.264L7.147 18l-2.575-2.571Zm14.249-14.25a4.03 4.03 0 0 0-5.693 0L11.7 2.611 17.389 8.3l1.432-1.432a4.029 4.029 0 0 0 0-5.689Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ color_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 Color
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-orange-100 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M18 .989a1.016 1.016 0 0 0-.056-.277c-.011-.034-.009-.073-.023-.1a.786.786 0 0 0-.066-.1.979.979 0 0 0-.156-.224l-.007-.01a.873.873 0 0 0-.116-.073.985.985 0 0 0-.2-.128.959.959 0 0 0-.231-.047A.925.925 0 0 0 17 0h-4a1 1 0 1 0 0 2h1.664l-3.388 3.552a1 1 0 0 0 1.448 1.381L16 3.5V5a1 1 0 0 0 2 0V.989ZM17 12a1 1 0 0 0-1 1v1.586l-3.293-3.293a1 1 0 0 0-1.414 1.414L14.586 16H13a1 1 0 0 0 0 2h4a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1ZM3.414 2H5a1 1 0 0 0 0-2H1a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V3.414l3.536 3.535A1 1 0 0 0 6.95 5.535L3.414 2Zm2.139 9.276L2 14.665V13a1 1 0 1 0-2 0v4c.006.046.015.09.027.135.006.08.022.16.048.235a.954.954 0 0 0 .128.2.95.95 0 0 0 .073.117l.01.007A.983.983 0 0 0 1 18h4a1 1 0 0 0 0-2H3.5l3.436-3.276a1 1 0 0 0-1.38-1.448h-.003Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ size_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 Size
             </p>
         </div>
       </div>
    </div>
 </div>
 <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4 items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-blue-100 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M18 12h-1v4a1 1 0 0 1-2 0v-4h-1v4a1 1 0 0 1-2 0v-4h-1v4a1 1 0 0 1-2 0v-4H8v-1H4a1 1 0 0 1 0-2h4V7.961A.977.977 0 0 1 7.8 8H4a1 1 0 0 1 0-2h3.805c.068.006.135.02.2.039V5H4a1 1 0 0 1 0-2h4V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v17a1 1 0 0 0 1 1h17a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2ZM4.5 17a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ metric_unit_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                Metric Unit
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-pink-100 bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
            <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
            <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ customer_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 Customer Total
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-cyan-100 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
            <path d="M18 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM2 12V6h16v6H2Z"/>
            <path d="M6 8H4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2Zm8 0H9a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ credit_transaction_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                Credit Transactions Total
             </p>
         </div>
       </div>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
       <div class="justify-self-end w-16 h-16 rounded-full text-orange-100 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 flex items-center justify-center mb-1">
          <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3a3 3 0 1 1-1.614 5.53M15 12a4 4 0 0 1 4 4v1h-3.348M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
          </svg>
       </div>
       <div class="justify-self-start">
          <div class="flex-1 min-w-0">
             <p class="text-2xl font-semibold text-gray-900 truncate dark:text-white">
                 {{ user_total }}
             </p>
             <p class="text-md text-gray-500 truncate dark:text-gray-400">
                 User Total
             </p>
         </div>
       </div>
    </div>
 </div>
{% endblock %}